aiosqlite==0.16.1
click==7.1.2
fastapi==0.65.1
h11==0.12.0
iso8601==0.1.14
passlib==1.7.4
pydantic==1.8.2
pypika-tortoise==0.1.0
pytz==2020.5
starlette==0.14.2
tortoise-orm==0.17.2
typing-extensions==3.10.0.0
uvicorn==0.13.4
